<div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
        <ul>
            <li class="active">
                <a href="javascript:void(0);"><i class="fas fa-home"></i>  <span>Dashboard</span></a>
            </li>
            <li>
                <a href="Addcategory"><i class="fas fa-home"></i> <span>Add Category</span></a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="fas fa-home"></i>  <span>Home</span></a>
            </li>
            <li class="submenu">
                <a href="javascript:void(0);"><i class="fas fa-home"></i>  <span> Forms </span> <span class="menu-arrow"></span></a>
                <ul>
                    <li><a href="Addcategory">Horizontal Form </a></li>
                    <li><a href="Addcategory"> Form Validation </a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="javascript:void(0);"><i class="fas fa-home"></i>  <span> Tables </span> <span class="menu-arrow"></span></a>
                <ul>
                    <li><a href="Addcategory">Basic Tables </a></li>
                    <li><a href="Addcategory">Data Table </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>





@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">BSM</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="CompanyType">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="addmenu">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Menu
                </NavLink>
            </li>
        </ul>
    </div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@
